In [8]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.9-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.9
Note: you may need to restart the kernel to use updated packages.

# 1주차 단톡방 과제
- 60171100 윤민혁

In [31]:
import pandas as pd

In [10]:
df1 = pd.read_excel('./data/Casualty.xlsx')

In [11]:
df1

,Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Gender_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,197901A11AD14,2,1,1,1,-1,3,0,0,0,0,0,104,-1
1,197901A1BAW34,1,1,3,2,6,3,10,5,0,0,-1,0,-1
2,197901A1BFD77,1,1,1,1,5,3,0,0,0,0,0,109,-1
3,197901A1BFD77,1,2,2,1,4,3,0,0,1,0,0,109,-1
4,197901A1BFD77,2,3,1,1,6,3,0,0,0,0,0,109,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93040,197906P001185,1,1,3,1,1,3,5,4,0,0,-1,0,-1
93041,197906P001187,1,1,3,2,7,3,5,1,0,0,-1,0,-1
93042,197906P001188,1,1,1,1,6,3,0,0,0,0,0,109,-1
93043,197906P001199,1,1,1,1,7,3,0,0,0,0,0,109,-1
93044,197906P001202,2,1,1,2,3,3,0,0,0,0,0,1,-1

## 기록된 전체 교통사고 건수는?

In [12]:
len(df1)

93045

## 남성의 교통사고 건수는? 여성의 교통사고 건수는?

In [18]:
df1['Gender_of_Casualty'].value_counts()

 1    59778
 2    32961
-1      306
Name: Gender_of_Casualty, dtype: int64

- 남자는 59778, 여자는 32961

## 사고가 일어나는 버스 안에서 가장 위험한 사람은?

In [19]:
df1['Bus_or_Coach_Passenger'].value_counts()

 0    88722
-1     1837
 1     1371
 4      551
 3      354
 2      210
Name: Bus_or_Coach_Passenger, dtype: int64

- 0(버스에 탄 승객이 아님)과 -1(기록이 남아있지 않은 경우)를 제외하면 1로 승차중이던 승객이 가장 위험하다

## 전체 Casualty_Type 중 가장 많은 사고 종류는? 가장 적은 사고 종류는?

In [24]:
df1['Casualty_Type'].value_counts()

109    37273
0      23006
104    14305
1       6555
11      4488
19      2866
2       2291
108      754
113      710
90       377
103      247
110      143
105       30
Name: Casualty_Type, dtype: int64

- 가장 많은 사고 종류는 109번인 차량탑승자(개인 렌트카 포함)으로 총 37273건이다
- 가장 적은 사고 종류는 105번인 오토바이 - 콤비네이션 라이더 또는 조수석으로 30건이다

# 1주차 개인톡 과제
- 60171100 윤민혁

## 운전자들이 가장 많이 당하는 사고 종류는 ? 두번째로 많이 당하는 사고 종류는?

In [32]:
df2 = df1[df1['Casualty_Class']==1]
df2

,Acc_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Gender_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,197901A11AD14,2,1,1,1,-1,3,0,0,0,0,0,104,-1
2,197901A1BFD77,1,1,1,1,5,3,0,0,0,0,0,109,-1
4,197901A1BFD77,2,3,1,1,6,3,0,0,0,0,0,109,-1
10,197901A1DAK71,2,2,1,1,5,3,0,0,0,0,0,109,-1
13,197901A1FBK75,1,1,1,1,5,3,0,0,0,0,0,109,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93037,197906P001182,1,1,1,1,6,3,0,0,0,0,0,104,-1
93039,197906P001183,1,2,1,1,6,3,0,0,0,0,0,104,-1
93042,197906P001188,1,1,1,1,6,3,0,0,0,0,0,109,-1
93043,197906P001199,1,1,1,1,7,3,0,0,0,0,0,109,-1
93044,197906P001202,2,1,1,2,3,3,0,0,0,0,0,1,-1

In [33]:
df_driver = df2[['Casualty_Type']]
df_driver

       Casualty_Type
0                104
2                109
4                109
10               109
13               109
...              ...
93037            104
93039            104
93042            109
93043            109
93044              1

[46327 rows x 1 columns]

In [34]:
df_driver['Casualty_Type'].value_counts()

109    21469
104    12802
1       6502
2       2243
19      1858
113      569
103      222
90       220
108      210
11       164
110       44
105       24
Name: Casualty_Type, dtype: int64

- 가장 많이 당하는 사고는 109번인 개인용 렌트카 포함으로 21469건이다.
- 두번쨰로 많이 당하는 사고는 104번인 오토바이 라이더 또는 승객으로 12802건이다.