# 6주차 개인톡 과제
- 60171100 윤민혁

In [197]:
import requests
from bs4 import BeautifulSoup

import pandas as pd
import re

In [219]:
res = requests.get('https://xexymix.com/shop/shopbrand.html?xcode=020&type=Y')
soup = BeautifulSoup(res.content)

mydata = soup.find_all('li','prd-name')
mydata2 = soup.find_all('li','prd-price s_prd')

name = []
price = []

for i in mydata:
    name.append(i.get_text())

for j in mydata2:

    price.append(j.get_text())

In [220]:
# 품절상품 가격 추가
price.append('52,000')

In [221]:
df = pd.DataFrame({'제품명':name,'가격':price})

In [222]:
def remove_comma(x):
    return x.replace(',', '')

In [223]:
df['가격'] = df['가격'].apply(remove_comma)

In [224]:
df

                        제품명     가격
0   셀라V업 3D 플러스 레깅스 마지막 1+1  32000
1    블랙라벨 시그니처 380N 레깅스 1+1  59000
2                아이스페더 1+1   32000
3             아이스페더 컴포트 1+1  34000
4         셀라업텐션 레깅스 마지막 1+1  39000
..                      ...    ...
65        벨벳크림&젤리볼륨 립틴트 1+1  14900
66         피그먼트 슬로건 티셔츠 1+1  49000
67         스탠다드 슬로건 후드집업 블랙  35000
68      스탠다드 슬로건 후드집업 모스베이지  35000
69          컴포터블 카고 조거팬츠 블랙  52000

[70 rows x 2 columns]

In [227]:
df = df.astype({'가격':'int'})
df.dtypes

제품명    object
가격      int32
dtype: object

In [228]:

df.sort_values(by='가격', ascending=False)

                     제품명     가격
13      컴포터블 카고 조거팬츠 1+1  99000
6       탄성팬츠 9.0&9.5 1+1  99000
23  탄성팬츠 올시즌 9.0&9.5 1+1  99000
30   젤라 인텐션 슬림핏 집업자켓 1+1  98000
63          X-하이커 트리플베이지  89000
..                   ...    ...
14              요가삭스 1+1  11900
38           에어로 마스크 1+1   9900
44             레터링삭스 1+1   9900
59        딱붙 젤펜슬 라이너앤브로우   9900
55         볼륨브라패드(2.5cm)   4900

[70 rows x 2 columns]

## 6주차 단톡방 과제 1
- 60171100 윤민혁

In [55]:
site_pre = 'https://www.inven.co.kr/board/fifaonline4/3145?category=_%EC%BF%A0%ED%8F%B0&p='

title_list=[]
date_list=[]
for i in range(1,10):
    site = site_pre + str(i)
    res = requests.get(site)
    soup = BeautifulSoup(res.content,'html.parser')
    title = soup.find_all('a','subject-link')
    for tag in soup.select('span'):
        tag.extract()
    date = soup.find_all('td','date')
    for j in title:
        
        title_list.append(j.get_text().strip())
    for l in date:
        date_list.append(l.get_text())

In [56]:
df = pd.DataFrame({'제목':title_list,'작성일':date_list})
df

                                      제목    작성일
0                       팁과 노하우 게시판 이용 안내  04-07
1              영상을 포함한 게시글과 관련하여 안내드립니다.  08-16
2        게시판 내 이슈 관련 게시글에 대하여 협조 부탁드립니다.  04-24
3                    이벤트 쿠폰과 관련하여 안내드립니다  07-02
4                      오늘이 의외로 사재기 타임이네요  15:32
..                                   ...    ...
449               몰수패, 훈련코치, 하이라이트 개선 상황  11-18
450  한국대표 선발전 참가자 명단 발표 및 예선 실황 중계 방송 안내  11-18
451                    이벤트로 주는 팩은 확률공개 x  11-17
452                   토트넘 금카팀 리뷰-뎀벨레,완야마  11-17
453                          플레이보드 풀참 후기  11-17

[454 rows x 2 columns]

# 6주차 단톡방 과제 2
- 60171100 윤민혁

In [69]:
site_pre= 'https://movie.naver.com/movie/bi/mi/pointWriteFormList.naver?code=83893&type=after&isActualPointWriteExecute=false&isMileageSubscriptionAlready=false&isMileageSubscriptionReject=false&page='
id_pre = '_filtered_ment_'
id_list=[]
score=[]
review = []


for k in range(10):
    id_list.append(id_pre+str(k))
    
for i in range(1,11):
    site = site_pre+str(i)
    res = requests.get(site)
    soup = BeautifulSoup(res.content, 'html.parser')
    score_data = soup.find_all('div','star_score')
    for id in id_list:
        review.append(soup.find('span',{'id':id}).get_text().strip())
    
    for j in score_data:
        score.append(j.get_text().strip())

In [70]:
df = pd.DataFrame({'리뷰':review,'평점':score})

In [75]:
df = df.sort_values(by='평점', ascending=True)
df

                                                   리뷰  평점
74                 진짜 다시봐도 또 봐도 나중에 봐도 소름돋고 흥분시키는 영화!  10
5         이병헌의 목소리는 정말 하늘이 내려준듯 하다.웃음과 감동을 모두 잡은 영화인듯  10
6       천만이 부끄럽지않은 영화가 여기있네... 웃다가 울다가... 이런게 영화가 아닐지  10
7   백성을 하늘처럼 섬기는 왕, 진정 그것이 그대가 꿈꾸는 왕이라면... 그 꿈 내가 ...  10
8                              진심 최고의 영화다. 정말 별 10점!!  10
..                                                ...  ..
34                          가짜왕이 진정한 백성의 왕이네... 굿입니다.   9
45                          중동고 81회 이병헌 화이팅, 88회 후배가.   9
47                      고루한 사극에 현대식 유머를 더하다. 최고의 몰입도.   9
58                           이병헌의 광해의 연기는 압도되어 빨려들어간다   9
27  후아, 눈물을 주체할 수가 없다. 간단한 플롯임에도 하고싶은 이야기를 다 녹여낸 극...   9

[100 rows x 2 columns]